agora-token-builder==1.0.0
asgiref==3.4.1
Django==4.0.1
sqlparse==0.4.2
tzdata
gtts
wikipedia
requests
bs4
googletrans
bing_image_downloader
pillow
googlesearch-python
SpeechRecognition
boto3==1.24.56
folium
geojson==2.5.0
numpy==1.26.4
pandas==2.2.2
pyproj
pystac==1.6.1
rasterio
Shapely
streamlit
streamlit-folium
altair
simpleaudio
